* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Sunflower', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #c0c0c0;
  background-color: #000000;
}
a {
  color: #299229;
  font-weight: 700;
  text-decoration-line: none;
  padding: 10px 0;
}
.project-git {
  margin-left: 20px;
}
a:hover {
  opacity: 0.7;
}
.head {
  flex-direction: column;
  height: 100vh;
}
.head-small-title {
  font-size: 13px;
  padding: 10px 30px;
}
.head-top {
  padding: 30px 0;
}
.head-img {
  display: flex;
  justify-content: center;
}
.head-img img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 50px;
}
.head-title_name {
  text-align: center;
  font-weight: 700;
  color: #fff;
}
.head-title {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #fff;
}
.head-desc {
  margin-left: 40px;
  font-size: 15px;
}
.about-me {
  padding: 0 30px;
}
.about-title,
.project-title {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  padding: 8px 8px;
  border-bottom: 1px solid gray;
}
.about-desc {
  padding: 50px 8px;
}
.about-desc:last-child {
  padding: 0px 8px 50px 8px;
}
.about-desc h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 8px;
}
.about-desc span {
  font-size: 14px;
  margin-bottom: 8px;
}
.main-aside img {
  display: none;
}
.project {
  padding: 0 30px;
}
.project-box_wrapper {
  padding: 10px 10px;
}
.project-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  border: 1px solid gray;
}
.project-img img {
  width: 100%;
  padding: 20px 10px;
}
.project-name {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 3px;
}
.project-info {
  font-size: 13px;
  margin-left: 20px;
}
.skill {
  margin-left: 20px;
  padding-top: 30px;
}
.skill p {
  padding: 5px;
  font-weight: 700;
  color: #fff;
}
.more ul {
  padding: 20px 8px;
}
.more li:first-child {
  list-style: none;
  font-weight: 700;
}
.more li:last-child {
  margin-left: 15px;
}
/*-------------------------------------------*/
@media screen and (min-width: 380px) {
  .head-desc {
    text-align: center;
    font-size: 16px;
  }
  .project_wrapper {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .head {
    position: relative;
  }
  .head-top {
    padding: 100px 0 50px 0;
  }
  .head-small-title {
    position: absolute;
    right: 1%;
    position: fixed;
    font-size: 15px;
  }
  .head-img img {
    margin-bottom: 80px;
  }
  .head-desc {
    text-align: center;
    font-size: 18px;
  }
  .main {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 20%;
  }
  .about-me {
    padding: 0 50px;
  }
  .about-title {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    padding: 8px 8px;
    border-bottom: 1px solid gray;
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .about-desc h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .about-desc span {
    font-size: 16px;
  }
  .main-aside img {
    display: block;
    opacity: 0.7;
    height: 400px;
    width: 100%;
  }
  .project {
    padding: 150px 0;
  }
  .project_wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .project-title {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    padding: 8px 8px;
    margin-left: 20px;
    border-bottom: none;
  }
  .project-name {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .project-info {
    font-size: 15px;
  }
  .git-badge {
    padding: 5px 0;
    margin-left: 20px;
    width: 100px;
    height: 40px;
  }
  .git-badge:hover {
    opacity: 0.7;
  }
  .project-box_wrapper {
    display: flex;
    width: 100%;
  }
  .project-box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    border: none;
    border-radius: 5%;
  }
  .project-img img {
    width: 100%;
  }
  .project-img img:hover {
    opacity: 0.7;
  }
  .skill {
    margin-left: 20px;
    padding-top: 30px;
  }
  .skill p {
    padding: 5px;
    font-weight: 700;
    color: #fff;
  }
  .more {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0 30px 0;
  }
  .more li {
    list-style: none;
    text-align: center;
  }
  .more ul {
    padding: 30px 0;
  }
  .more li:last-child {
    margin-left: 0;
  }
  .experience,
  .education {
    animation: none;
  }
  .education-desc li {
    text-align: center;
  }
}
